/** 单行多行文本省略**/
.duplicateEllipsis3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.duplicateEllipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.singleEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}